/* Mobile First CSS */

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 100px;
}

/* Desktop body style */
@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}

header {
  align-items: center;
  border-bottom: 1px solid #444;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 83.333%;
}

header .logo {
  display: block;
  height: auto;
  margin-bottom: 10px;
  max-width: 80px;
}

header .company-name {
  font-size: 28px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: relative;
  width: 90%;
}

/* Desktop Container style */
@media (min-width: 600px) {
  .container {
    width: 83.333%;
  }
}

.content {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

blockquote {
  font-size: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

/* Desktop Container style */

@media (min-width: 600px) {
  blockquote {
    margin-left: 20px;
    margin-right: 20px;
  }
}

blockquote:after {
  background-color: #444;
  content: '';
  display: block;
  height: 1px;
  margin: 2rem auto;
  width: 75%;
}

@media (min-width: 600px) {
  blockquote:after {
    width: 60%;
  }
}
